# Environment files
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/
staticfiles/

# Virtual environment
venv/
env/

# OS files
.DS_Store
Thumbs.db

#extra
bk profile pic.gif
